body {
    padding: 0;
    margin : 0;
    background: "6.jpg";
}

#header {
    background: red;
    color: aliceblue;
    padding: 10px;
    
}

#box {
    background: whitesmoke;
    color: white;
    padding: 10px;
}

#item {
    background: grey;
    color: white;
    padding: 10px;
}